# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
*.venv/
*.env/
venv/
*.log

# Visual Studio Code
.vscode/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
*.txt
*.ext
*.json
*.bin
*.pt
*.pth